doctype html
html
  head
    title About Us - Toy Kingdom
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      h1 About Us
      nav
        ul
          li: a(href="/") Home
          li: a(href="/toys") Toys
          li: a(href="/about") About Us
    main
      h2 About Toy Kingdom
      p Toy Kingdom is a place where the joy of playtime comes to life.