doctype html
html
  head
    title Contact - Toy Kingdom
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      h1 Contact Us
      nav
        ul
          li: a(href="/") Home
          li: a(href="/about") About Us
          li: a(href="/contact") Contact
    main
      h2 Get in Touch
      p You can contact us at contact@toykingdom.com or call us at (555) 555-5555.
