doctype html
html
  head
    title Toys - Toy Kingdom
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      h1 Our Toys
      nav
        ul
          li: a(href="/") Home
          li: a(href="/toys") Toys
          li: a(href="/about") About Us
    main
      h2 Our Toy Collection
      ul
        each toy in toys
          li
            h3= toy.name
            p= toy.description
            p Price: $ #{toy.price}
